@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.ttf');
  }

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    font-family: poppins;
    font-size: 3vh;
    color: rgb(87, 86, 86);
    background-color: whitesmoke;

}
header{
    display: flex;
    justify-content: space-around;
    height: 10%;
    background: #605B56;
}
header > div{
    margin: auto;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.title{
    color: white;
}
main {
    display: flex;
    height: 90%;
    margin: 1vh;
}
ul {
    list-style: none;
}

details {
    margin: 2px;
}
.sectionsummary{
    font-weight: bold;
    list-style-type: none;
}
details > .sectionsummary{
    border: 1px solid;
    border-radius: 3px;
    list-style-type: '+';
}
details[open] > .sectionsummary{
    color: #4BB3FD;
    list-style-type: '-';
}
details > .subsectionsummary{
    list-style-type: '+';
}
details[open] > .subsectionsummary{
    color: #F38D68;
    list-style-type: '-';
}

details[open] > .keypointsummary{
    color: #00A676;
}

.subsectionsummary{
    font-size: 2.25vh;
    list-style: none;
}

.pointslist {
    font-weight: bold;
    color: rgba(26, 26, 26, 0.631);
}

.keypoint{
    font-size: 2.25vh;
}

li{
    margin-left: 1vh;
}
li.summary{
    margin-left: 2vh;
    font-style: italic;
}
