html {
    font-family: sans-serif;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: grey;
}
body{
    margin: auto;
    margin-top: 5vh;
}
main {
    width: 80vw;
}
ul {
    list-style: none;
}
details {
    margin: 2px;
}
.sectionsummary{
    font-weight: bold;
    list-style-type: none;
}
details > .sectionsummary{
    border: 1px solid;
    border-radius: 3px;
    list-style-type: '+';
}
details[open] > .sectionsummary{
    color: rgb(86, 86, 247);
    list-style-type: '-';
}
details > .subsectionsummary{
    list-style-type: '+';
}
details[open] > .subsectionsummary{
    color: rgb(86, 86, 247);
    list-style-type: '-';
}

.subsectionsummary{
    font-size: 2.25vh;
    list-style: none;
}

.pointslist {
    font-weight: bold;
    color: black;
}
details[open] > .keypointsummary{
    color: rgb(86, 86, 247);
}
.keypoint{
    font-size: 2.25vh;
}

li.summary{
    margin: 2px;
    font-style: italic;
}
